<h3 class="center">Contact Us</h3>

<div class="example-container">
    <div class="align-cards-center">
        <mat-card class="example-card">
            <mat-card-header style="background-color: lightgray;">
                <mat-card-title>Lets talk</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    +1 XXX-XXX-XXXX
                </p>

            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header style="background-color: lightgray;">
                <mat-card-title>Support</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    mypersonalchef.team4@gmail.com
                </p>
               
            </mat-card-content>
        </mat-card>
    </div>