.example-container {
    display: flex;
    flex-direction: column;
    padding: 0 200px 0 200px;
  }
  
  .example-container > * {
    width: 100%;
  }

  .center{
    text-align: center;

  }

  .example-card {
    max-width: 400px;
    margin-bottom: 10px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .align-cards-center{
    width: 100%;
    text-align: -webkit-center;
  }

  .button{
    color:#673ab7;
  }